process.executor = 'slurm'

executor {
    name = 'slurm'
}

profiles {
    panther {
        process.executor = 'slurm'
        process.queue    = 'med'
        process.cpus     = 2
        process.memory   = '4 GB'
        process.time     = '3h'

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"

        executor.queueSize = 200
    }
}
